asteval==1.0.6
asttokens==3.0.1
brokenaxes==0.6.2
# Editable install with no version control (cedapp==0.1.0)
-e /home/opid09/cedapp/TR-XRD-ID09-main
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.1
cycler==0.12.1
deap==1.4.2
debugpy==1.8.19
decorator==5.2.1
dill==0.4.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing==2.2.1
fabio==2024.9.0
fonttools==4.56.0
h5py==3.14.0
hdf5plugin==5.1.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.1
ipykernel==7.1.0
ipython==8.38.0
jedi==0.19.2
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.4.8
lazy_loader==0.4
lecroyscope==1.0.0
lmfit==1.3.2
lxml==5.4.0
matplotlib==3.10.1
matplotlib-inline==0.2.1
mpmath==1.3.0
multiprocess==0.70.18
nest-asyncio==1.6.0
networkx==3.4.2
numexpr==2.11.0
numpy==2.2.3
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
parso==0.8.5
pathos==0.3.4
PeakUtils==1.3.5
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
platformdirs==4.5.1
pox==0.3.6
ppft==1.7.7
prompt_toolkit==3.0.52
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pybaselines==1.2.0
pyFAI==2025.3.0
Pygments==2.19.2
pynverse==0.1.4.6
pyparsing==3.2.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
python-vxi11==0.9
pytz==2025.1
PyVISA==1.16.1
pyzmq==27.1.0
requests==2.32.4
scikit-image==0.25.2
scipy==1.15.2
scooby==0.10.1
shapely==2.1.1
silx==2.2.2
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tifffile==2025.5.10
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
ttkthemes==3.2.2
typing_extensions==4.15.0
tzdata==2025.1
uncertainties==3.2.2
urllib3==2.5.0
wcwidth==0.2.14
zipp==3.23.0
